set(autostart ${PLUGIN_DEVICESETTINGSMANAGER_AUTOSTART})

if(PLUGIN_DEVICESETTINGSMANAGER_STARTUPORDER)
set (startuporder ${PLUGIN_DEVICESETTINGSMANAGER_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_DEVICESETTINGSMANAGER_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)
